body {
    margin: 0;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}